#flask==2.3.2
flask
#ollama==0.4.5
ollama
setuptools_scm 
llama-index
llama-agents
llama-index-vector-stores-chroma
llama-index-readers-file
llama-index-llms-ollama
llama-index-embeddings-ollama
llama-index-utils-workflow
llama-index-extractors-entity
transformers
typing
nest_asyncio
python-dotenv
langchain
langchain-ollama
