pydantic_ai-slim[openai,a2a,grog,mcp,ag-ui]
fasta2a
jupyter
nltk
ollama==0.6.0
nest_asyncio
python-dotenv
langchain==1.0.2
langchain-ollama
matplotlib
jupyterlab_execute_time
python-dateutil
#ultralytics
seaborn
pandas
opencv-python-headless
squarify
copilotkit
plotly
unstructured
openai
