jupyter
ollama
llama-index
llama-agents
llama-index-vector-stores-chroma
llama-index-readers-file
llama-index-llms-ollama
llama-index-program-openai
llama-index-embeddings-ollama
llama-index-utils-workflow
nest_asyncio
python-dotenv
langchain
langchain-ollama
pydantic_ai
